{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Feedback</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{%static 'images4/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor4/bootstrap/css/bootstrap.min.css' %}">
<!--============================================={%static '==================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts4/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--============================================={%static '==================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor4/animate/animate.css' %}">
<!--============================================={%static '==================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor4/css-hamburgers/hamburgers.min.css' %}">
<!--============================================={%static '==================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor4/select2/select2.min.css' %}">
<!--============================================={%static '==================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css4/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css4/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact100" style="background-image: url('static/images4/bg-02.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<img src="{%static 'images4/img-01.png' %}" alt="IMG">
				</div>

				<form class="contact100-form validate-form">
					<span class="contact100-form-title">
						Feedback Form
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Name is required">
						<input class="input100" type="text" name="name" placeholder="Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid Registration no is required: 17185">
						<input class="input100" type="text" name="regno" placeholder="Registration Number">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-card" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Message is required">
						
						<textarea class="input100" name="message" placeholder="Message"></textarea>

						<span class="focus-input100"></span>
						
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Submit Feedback
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{%static 'vendor4/jquery/jquery-3.2.1.min.js' %}"></script>
<!--============={%static '==================================================================================-->
	<script src="{%static 'vendor4/bootstrap/js/popper.js' %}"></script>
	<script src="{%static 'vendor4/bootstrap/js/bootstrap.min.js' %}"></script>
<!--============={%static '==================================================================================-->
	<script src="{%static 'vendor4/select2/select2.min.js' %}"></script>
<!--============={%static '==================================================================================-->
	<script src="{%static 'vendor4/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{%static 'js4/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
