{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>AIT MESS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{%static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-lg-4">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li class="active"><a href=" " class="nav-link">Home</a></li>
                  
                  <li><a href="https://www.swiggy.com" class="nav-link">SunYaY!</a></li>
                  <li><a href="menu" class="nav-link">Menu</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a href=" ">AIT Mess</a>
              </div>


              <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>
            </div>
            <div class="col-lg-4">
              <nav class="site-navigation text-left mr-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="accounts/register" class="nav-link">Register</a></li>
                  <li><a href="accounts/login" class="nav-link">Login</a></li>
                  <!-- <li><a href="blog.html" class="nav-link">SunYaY!</a></li> -->
                  <li><a href="feedback" class="nav-link">Feedback</a></li>
                </ul>
              </nav>
            </div>
            

          </div>
        </div>

        

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('/static/images/AIT.jpg') ">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1><strong>Khaana Khazana!</strong></h1>
              <p>Shetty & Thapa Mess :')</p>
              <h3><font color="#ffff4d"><strong><i>“There is no love sincerer than the love of food”</i></strong></font></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <a href="#" class="nav-link"><h2 class="text-primary">Your Bill</h2></a>
          <h2 class="mb-4">Food for all AITians.</h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="feature-1">
            <img src="{%static 'images/mess3.jpeg' %}" alt="Image" class="img-fluid">
            <div class="feature-1-contents">
              <h2>Aao</h2>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-1">
            <img src="{%static 'images/mess2.jpeg' %}" alt="Image" class="img-fluid">
            <!-- <img src="{%static 'images/bg-01.jpg' %}" alt="Image" class="img-fluid"> -->
            <div class="feature-1-contents">
              <h2>Chalein</h2>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-1">
            <img src="{%static 'images/mess1.jpeg' %}" alt="Image" class="img-fluid">
            <div class="feature-1-contents">
              <h2>Mess!</h2>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    
 
            
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>“Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.” </p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Contact Us</h2>
                <ul class="list-unstyled">
                  <!-- <li><a href="#"></a></li> -->
                  <li><a href="#">Dighi Hills,Pune-411015</a></li>
                  <li><a href="#">(020)27157534,27157612</a></li>
                  <li><a href="#">ait@aitpune.edu.in</a></li>

                 
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <!-- <div class="row pt-1 mt- text-center">
          <div class="col-md-12">
             <div class="border-top pt-5"> -->
              <!-- </div> -->
          <!-- </div>  -->

        </div>
      </div>
    </footer>

    </div> 
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

  </body>

</html>
